<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 14px; color: #4A4A4A; background-color: #F4F6F8;">

    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #F4F6F8; padding: 20px 10px;">
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; 
                background-color: #FFFFFF; border-radius: 6px; 
                border-top: 4px solid #54A936; 
                box-shadow: 0 2px 5px rgba(0,0,0,0.05);
                 overflow: hidden;">
                    <tr>
                        <td style="padding: 25px 25px 15px 25px; text-align: left;">
                            <img src="https://intranet.prodest.es.gov.br/Media/IntranetProdest/_Profiles/44f0b16d/d8e43242/Logomarca_Prodest_320.png?v=639063793643692270" width="220" 
                            style="width: 220px; max-width: 100%; height: auto; border: 0;">
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 0 25px;">
                            <hr style="border: 0; border-top: 1px solid #EAEAEA; margin: 0;">
                        </td>
                    </tr>

                    <!-- conteúdo do email -->
                    <tr>
                        <td style="padding: 20px; text-align: left; line-height: 1.5;">
                            <!--EmailHTML-->
                        </td>
                    </tr>

                    <!-- rodapé contato
                    <tr>
                        <td style="padding: 0 20px 20px 25px; text-align: left; font-size: 13px; line-height: 1.5;">
                            <p style="margin: 0 0 5px 0;"><strong>Dúvidas ou Sugestões? (HelpDesk)</strong></p>
                            <p style="margin: 0;">
                                Telefones: (27) 3636-7194 / 3636-7200 <br>
                                E-mail: <a href="mailto:atendimento@prodest.es.gov.br" style="color: #54A936; 
                                text-decoration: underline;"><strong>atendimento@prodest.es.gov.br</strong></a>
                            </p>
                        </td>
                    </tr> -->

                    
                    <tr>
                        <td style="background-color: #171e83; color: #FFFFFF; padding: 12px; text-align: center; font-size: 13px;">
                            <strong>Prodest — Instituto de Tecnologia da Informação e Comunicação do Espírito Santo</strong>
                        </td>
                    </tr>

                    
                    <tr>
                        <td style="background-color: #EAEAEA; color: #666666; padding: 10px 15px; text-align: center; font-size: 12px; line-height: 1.4;">
                           Observação: Esta mensagem foi enviada por um sistema automático de notificação. Não responda.
                        </td>
                    </tr>

                </table>

            </td>
        </tr>
    </table>

</body>
</html>